<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 扫描包 -->
	<context:component-scan base-package="com.fccs.es_service"/>
	<!-- 开启aop -->
	<aop:aspectj-autoproxy/>
	
	<!-- 配置服务实现的bean -->
	<bean id="nhFloorElasticSearchService" class="com.fccs.es_service.impl.NhFloorElasticSearchServiceImpl"/>
	<bean id="nhModelElasticSearchService" class="com.fccs.es_service.impl.NhModelElasticSearchServiceImpl"/>
	
	<!-- 配置http调用器服务导出器-->
	<bean id="nhFloorElasticSearchServiceHttp" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="nhFloorElasticSearchService"/> <!-- 实现 -->
		<property name="serviceInterface" value="com.fccs.es_api.service.NhFloorElasticSearchService"/> <!-- 接口 --> 	
	</bean>
	<bean id="nhModelElasticSearchServiceHttp" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="nhModelElasticSearchService"/> <!-- 实现 -->
		<property name="serviceInterface" value="com.fccs.es_api.service.NhModelElasticSearchService"/> <!-- 接口 --> 	
	</bean>
	
	<!-- 远程服务的URL -->
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<!-- ES新房 -->
				<prop key="/sc/nhFloorElasticSearchServiceHttp.sc">nhFloorElasticSearchServiceHttp</prop>
				<prop key="/sc/nhModelElasticSearchServiceHttp.sc">nhModelElasticSearchServiceHttp</prop>
			</props>
		</property>
	</bean>
	
	
</beans>
